* {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    color: inherit;
    text-decoration: none;
    outline: none;
    box-shadow: 0;
}

html,body{
width: 100%;
height: 100%;
}
body{
    background-color: #1A1D22;
}
h1{
    color:white;
    font-family: 'Arial', Times, serif;
    font-weight: bolder;
    text-align: center;
    top:40px;
    position:relative;
    z-index: 999;
}

form{
    background-color:#1A1D22;
}
form,input{
    display: block;
}

input{
    margin: auto;
    width:220px;
    height:40px;
    color:white;
    background-color:transparent;
    border-style: solid;
    border-width:1px;
    padding: 5px;
    top:55px;
    position: relative;
}
.borderVenda {
    border-color:#3498db;
}
.borderRecebido{
    border-color:#2ecc71;
}
input:focus{
    background-color:grey;
}


button{
    margin: auto;
    display: flex;
    width:230px;
    height:40px;
    cursor: pointer;
    color:white;
    background-color:#2980b9;
    font-family:'Arial', Times, serif;
    font-size:18px;
    font-weight: bolder;
    justify-content: center;
    position: relative;
    top:90px;
    align-items: center;
}

.inputCompra{
	position:relative;
	top:90px;
}
button:hover{
    background-color:#3498db;
}

.backVenda{
	background-color:#27ae60;
}
.backVenda:hover{
	background-color:#2ecc71;
}
.venda{
	color:white;
	text-align:center;
	position:relative;
	top:40px;
	font-size:20px;
	font-family:Arial,sans-serif;
}
.recebido{
	color:white;
	text-align:center;
	position:relative;
	top:75px;
	font-size:19px;
	font-family:Arial,sans-serif;
}

form.calculadora{
    position: relative;
    top:30px;
}

select,option{
    margin: auto;
    width:232px;
    height:50px;
    background-color:#1A1D22;
    border-style: solid;
    border-width:1px;
    border-color:#f0f0f0;
    padding: 5px;
    color:white;
    font-family: 'Arial', Times, serif;
    font-size:18px;
    display: flex;
    position: relative;
    top:55px;
}

option {
    list-style-type: circle;
}

